body {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}


@font-face {
  font-family: mainlux;
  src: url(../assets/fonts/digitype-studio-mainlux-light.otf) format("opentype");
}
@font-face {
  font-family: mainlux-semibold;
  src: url(../assets/fonts/FontsFree-Net-Mainlux-Semi-Bold.ttf)
    format("truetype");
}
@font-face {
  font-family: poppins-semibold;
  src: url(../assets/fonts/poppins/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: poppins-thin;
  src: url(../assets/fonts/poppins/Poppins-Regular.ttf) format("truetype");
}
.home{
  /* width: 100vw; */
}

#responsive_headline2{
  font-size:45px ;
  align-items: center;
  word-spacing: 2px;
}

#responsive_headline {
  margin-left: -12%;
  font-size: 40px;
  line-height: 60px;
}
.home-first-container{
  max-width: 100%;
  background: #f3eee8;
  
}
.home-first {
  /* width: 100%; */
  /* height: 80vh; */
  background: #f3eee8;
  display: flex;
  flex-direction: row-reverse;
  max-width: 1920px;
  margin: auto;
  margin-bottom: -150px;
  padding-top: 0vw;
}
.home-first-left {
  width: 50%;
  margin-top: 20px;
}
.home-first-right {
  width: 49.5%;
  display: flex;
  flex-direction: column;
  align-items: left;
  
}
.home-first-right-img {
  margin: 0;
  top: 0;
  height: 134%;
  width: 100%;
  margin-left: 200px;
  
}

.home-first-left-heading {
  margin-top: 30%;
  margin-left: 15%;
  margin-right: 1%;
  font-family: mainlux-semibold;
  color: #3d352e;
  line-height: 165%;

}
.home-first-left-text {
  margin-left: 5%;
  margin-right: 10%;
  font-family: mainlux-semibold;
  font-size:20px;
  color: #706458;
}

.home-first-left-hr {
  height: 3px;
  border: none;
  background: #b3ac99;
  margin-right: 50%;
}

.home-first-left button {
  background-color: #534b42;
  color: rgb(248, 218, 134);
  margin-left: 5%;
  margin-top: 5%;
  font-family: mainlux;
  font-size: 17px;
  padding: 15px 25px;
  border: none;
}

/* navigation css */
.home-nav {
  display: flex;
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 5rem;
}

.home-nav-left {
  display: flex;
  align-items: center;
  background-color: #f3eee8;
  width: 50vw;
  height: 100%;
  box-shadow: inset 0 -2px 0 #e1dace;
}
.home-nav-left-img-container {
  height: 8vw;
}
.home-nav-left-img a{
  margin-left: 5vw;
  width:30%;
  align-items: center;
}
.home-nav-left a
{
  margin-left: 5%;
}
.home-nav-right {
  width: 50vw;

  background-image: url("../assets/images/Rectangle\ 1.png");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
}

a.home-nav-right-links {
  text-decoration: none;
  position: relative;
  font-family: poppins-thin;
  font-size: calc(4px + 1vw);
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  
}

a.home-nav-right-links:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a.home-nav-right-links::before {
  text-decoration: none;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #fade87;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a.home-nav-right-links:hover::before {
  transform: scaleX(1);
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.home-third {
  width: 100%;
  height: 100%;
  background: #f3eee8;
  display: flex;
  max-width: 1920px;
  margin: auto;
}
.home-third-right {
  width: 100%;
  margin-top: -60px;
}
.home-third-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-third-left-img {
  margin: 0;
  top: 0;
  width: 100%;
  margin-right:-15px;
}

.home-third-right-heading {
  margin-top: 30%;
  margin-left: 15%;
  margin-right: 10%;
  font-family: mainlux-semibold;
  font-size: calc(11.5px + 1.1rem);
  color: #3d352e;
  line-height: 165%;
}

.home-third-right-text {
  margin-top :3.5%;
  margin-left:-12%;
  margin-right: 1%;
  font-family: mainlux-semibold;
  font-size: calc(2rem);
  color: #706458;
}
.home5-slider-container{
  margin-top: 10em;
  margin-bottom: 10em;
  padding-left: 1em;
  align-items: justify;
  justify-content: center;
  overflow: hidden;
  
}

#home5-slider .slick-slide img {
  width: 10%;
}


@media all and (max-width: 766px) 
{

  .home-third-right {
    margin-top: 100px;
  }
.home-first-left-heading{
  text-align: center;
}
.home-first-left-text{
  text-align: center;
  margin-left: 20px;
  width: 100%;
}
.home-first-left-hr{
  width: 95%;
}

  .home-nav-right {
    display: none;
  }
  .home-nav-left {
    width: 100vw;
  }
  .home-first {
    flex-direction: column-reverse;
    overflow-y: visible;
    margin-top: 10rem;
    display: contents;
  }
  .home-nav-left-img-container {
    width: 100vw;
  }
  .home-first-right {
    display: contents;
    width: 100vw;
  }
  .home-first-right-img {
    width: 100vw;
    height: 100vh;
  }
  .home-first-left {
    width: 100vw;
    height: 50vh;

  }
.home-first-txt{
 
  font-size: 20px;

}

.home-third-right-heading{
  margin-top: -230px;
}

.home-second{
  margin-top: -70px;
  margin-bottom: -160px;
}
/* 
.home-third-text{
  font-size: 20px;
} */
.home-third-hr{
  height: 3px;
  border: none;
  background: #f3cc52;
  margin: 10%;
}
.headings{font-weight: medium;
  font-size: 40px;
}
  .home-third {
    background: #e07b00;
    flex-direction: column-reverse;
    overflow-y: visible;
    display: contents;
  }
  .home-third-left {
    display: contents;
    width: 100vw;
  }

/*   
  .home-third-left-img {
    width: 100vw;
    height: 100vh;
  } */
  .home-third-right {
    width: 100vw;
    height: 50vh;
    

}
.home-first-left button {
  background-color: #534b42;
  color: rgb(248, 218, 134);
  margin-left: 35%;
  margin-top: 2%;
  font-family: mainlux;
  font-size: 17px;
  padding: 15px 25px;
  border: none;
}


#responsive_headline2
{
  font-size: 40px;
  position:relative;
  margin-top:300px;
  word-spacing: 5px;
}
}

@media all and (max-width:692px) and (min-width:491px)
{

  #responsive_headline2
  {
    font-size: 40px;
    position:relative;
    margin-top:300px;
    word-spacing: 5px;
  }
 .home-first-left{
color: #000;
margin-top: 0%;
 }
.home-first-left-heading{
  margin-top: 430px;
  text-align: center;
  overflow: hidden;
  font-size: 1px;
}
.home-first-left-text{
  text-align: center;
  margin-left: 20px;
  width: 100%;
  overflow: hidden;
}
.home-first-left-hr{
  margin-left:8% ;
  width: 88%;
  overflow: hidden;
}

.home-first-left button {
  background-color: #534b42;
  color: rgb(248, 218, 134);
  margin-left: 30%;
  margin-top: 10%;
  font-family: mainlux;
  font-size: 17px;
  padding: 15px 25px;
  border: none;
}
.home-second{
  margin-top: 20%;
}
  
.home-first-left-heading {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: mainlux-semibold;
  font-size: 0%;
  color: #3d352e;
  line-height: 165%;

}
#responsive_headline {
  font-size: 30px;
  margin-left: 5%;
  line-height: normal;
}
.footer-text{
  margin-left: 10%;
  color: #706458;

}

  
#change p{
  
  font-size: 25px;
  font-weight: bold;
 
}

#change1 p{
  text-align: center;
  font-size: 4.5vh;
 margin-left: 5%;
 font-weight: bold;
}


.home-third-right-text {
  margin-top :3.5%;
  margin-left: 5%;
  font-family: mainlux-semibold;
  font-size: calc(2rem);
  color: #706458;
}


}





@media all and (max-width:490px) and (min-width:320px)
{
  

  #responsive_headline2
  {
    font-size: 40px;
    position:relative;
    margin-top:300px;
    word-spacing: 5px;
  }







 .home-first-left{
color: #000;
margin-top: 0%;
 }
.home-first-left-heading{
  margin-top: 430px;
  text-align: center;
  overflow: hidden;
  font-size: 1px;
}
.home-first-left-text{
  text-align: center;
  margin-left: 20px;
  width: 100%;
  overflow: hidden;
}
.home-first-left-hr{
  margin-left:8% ;
  width: 88%;
  overflow: hidden;
}

.home-first-left button {
  background-color: #534b42;
  color: rgb(248, 218, 134);
  margin-left: 30%;
  margin-top: 10%;
  font-family: mainlux;
  font-size: 17px;
  padding: 15px 25px;
  border: none;
}
.home-second{
  margin-top: 20%;
}
  
.home-first-left-heading {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: mainlux-semibold;
  font-size: 0%;
  color: #3d352e;
  line-height: 165%;

}
#responsive_headline {
  font-size: 30px;
  margin-left: 5%;
  line-height: normal;
}
.footer-text{
  margin-left: 10%;
  color: #706458;

}

  
#change p{
  
  font-size: 25px;
  font-weight: bold;
 
}

#change1 p{
text-align: center;
  font-size: 2.5vh;
 margin-left: 5%;
 font-weight: bold;
}


.home-third-right-text {
  margin-top :3.5%;
  margin-left: 5%;
  font-family: mainlux-semibold;
  font-size: calc(2rem);
  color: #706458;
}


}




@media all and (max-width: 1072px) and (min-width:693px) 
{


  
  #change1 p{
    font-size: 6.5vh;
    font-weight: bold;
  } 
  
  }


